/* body */
* {
  font-family: sans-serif;
}

/* header */
.header {
  height: 100px;
  width: 960px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.header img {
  height: 90px;
  width: 400px;
}

/* nav */
.nav {
  height: 66px;
  width: 960px;
  background-color: black;
  margin: 0 auto 20px auto;
}

/* 1st btn */

.containerbtn {
  height: 66px;
  width: 640px;
  background-color: black;
  margin: 0 auto;
}

.playbtn {
  height: 66px;
  width: 213px;
  float: left;
}

  #playgame {
    float: left;
    height: 44px;
    width: 150px;
    margin: 10px 1px 0px 8px;
    border: 2px solid red;
    background-color: red;
    color: white;
    font-size: 80%;
    text-align: center;
  }

  #quick {
    float: left;
    height: 44px;
    width: 40px;
    margin-top: 10px;
    border: 2px solid white;
    color: white;
    font-size: 80%;
    text-align: center;
  }

/* 2nd btn */

.custombtn {
  height: 66px;
  width: 213px;
  float: left;
  background-color: black;
}

  #at {
    float: left;
    height: 44px;
    width: 40px;
    margin: 10px 20px 0px 60px;
    border: 2px solid white;
    color: white;
    font-size: 80%;
    text-align: center;
  }

  #custom {
    float: left;
    height: 36px;
    width: 40px;
    margin-top: 10px;
    padding-top: 8px;
    border: 2px solid white;
    background-color: white;
    color: red;
    font-size: 50%;
    text-align: center;
  }

/* 3rd btn */

.tournamentbtn {
  height: 66px;
  width: 214px;
  float: left;
  background-color: black;
}

 #tournament {
   float: left;
   height: 44px;
   width: 40px;
   margin: 10px 0px 0px 30px;
   border: 2px solid white;
   color: white;
   font-size: 80%;
   text-align: center;
 }

 #ladder {
   float: left;
   height: 44px;
   width: 40px;
   margin: 10px 10px 0px 10px;
   border: 2px solid white;
   color: white;
   font-size: 80%;
   text-align: center;
 }

 #profile {
   float: left;
   height: 36px;
   width: 40px;
   margin-top: 10px;
   padding-top: 8px;
   border: 2px solid white;
   background-color: white;
   color: red;
   font-size: 50%;
   text-align: center;
 }

/* container */
.container {
  background-color: blue;
  width: 960px;
  height: 500px;
  margin: 0 auto;
}

/* chat */
.chat {
  height: 500px;
  width: 640px;
  background-image: url("images/background.jpg");
  float: left;
}

  /* channel */
  .channel {
    height: 28px;
    width: 100px;
    background-color: red;
    padding-top: 12px;
    text-align: center;
    float: left;
  }

  .channel a {
    text-decoration: none;
    color: white;
  }

  /*channelname */
  .channelname {
    height: 37px;
    width: 536px;
    background-image: url("images/channelname.jpg");
    border: 2px solid maroon;
    color: white;
    vertical-align: middle;
    line-height: 3px;
    float: left;
  }

  .channelname h3 {
    margin-left: 10px;
    padding-bottom: 20px;
  }

  /* chat window */
  .chatwindow {
    height: 424px;
    width: 640px;
    color: white;
    padding: 25px 0px 25px 5px;
  }

    /*channel join message */
    .chatwindow h4 {
      margin-bottom: 0px;
    }

    /* welcome message */
    .chatwindow #welcome {
      margin: 5px 0px 20px 0px;
    }

    /* text settings */
    .chatwindow h6 {
      margin: 5px 0px 0px 0px;
    }

  /* chatbox */
  .chatbox {
    height: 20px;
    width: 634px;
    border: 3px solid maroon;
    margin-bottom: 0px;
    background-color: white;
    vertical-align: middle;
    line-height: 2px;
  }

  .chatbox p {
    font-size: 10px;
    padding-left: 10px;
  }

/* profile */
.profile {
  height: 475px;
  width: 320px;
  background-color: green;
  float: left;
}

      /* Style the tab list */
    .profile ul.tab {
        height: 30px;
        width: 320px;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: #f1f1f1;
    }

    /* Float the list items side by side */
    .profile ul.tab li {
      float: left;
    }

    .profile ul.tab #lipadding {
      margin: 0px 4px;
    }

    /* Style the links inside the list items */
    .profile ul.tab li a {
        width: 102px;
        height: 28px;
        display: inline-block;
        text-decoration: none;
        color: black;
        font-size: 15px;
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        line-height: 30px;
        transition: 0.3s;
    }

    /* Change background color of links on hover */
    .profile ul.tab li a:hover {background-color: #ff8080;}

    /* Create an active/current tablink class */
    .profile ul.tab li a:focus, .active {background-color: red;}

    /* Style the tab content */
    .tabcontent {
        height: 446px;
        width: 320px;
        background-color: yellow;
        margin-top: 0px;
    }

  /* CSS for Channel Tab */
  #Channel ul {
    height: 446px;
    width: 320px;
    background-color: black;
    margin-top: 0px;
    padding: 0px;
    padding-top: 1px;
    list-style-type: none;
  }

  #Channel li {
    height: 25px;
    width: 316px;
    margin-top: 2px;
    border: 2px solid grey;
    border-radius: 5px;
  }

  /*Border for Leaders */
  #Channel .Leader {
    border: 2px solid orange;
  }


    /* Avatar Images */
    #Channel img {
      height: 25px;
      width: 30px;
      margin-left: 5px;
      float: left;
    }

    /*Avatar Level */
    #Channel li .level {
      height: 25px;
      width: 30px;
      color: gold;
      margin: 5px 0px 0px 0px;
      font-size: 14px;
      float: left;
      text-align: center;
    }

    /*Avatar Name */
    #Channel li .name {
      height: 25px;
      width: 185px;
      color: white;
      margin: 5px 0px 0px 0px;
      float: left;
    }
    /*Avatar Clan Name*/
    #Channel li .clanname {
      height: 25px;
      width: 62px;
      color: gold;
      margin: 5px 0px 0px 0px;
      float: left;
      text-align: right;
    }

  /* CSS for Friendslist */
  #Friends ul {
    height: 446px;
    width: 320px;
    background-color: black;
    margin-top: 0px;
    padding: 0px;
    padding-top: 1px;
    list-style-type: none;
  }

  #Friends li {
    height: 25px;
    width: 316px;
    margin-top: 2px;
    border: 2px solid grey;
    border-radius: 5px;
  }

    /* Avatar Images */
    #Friends img {
      height: 25px;
      width: 30px;
      margin: 0px 15px 0px 5px;
      float: left;
    }

    /*Avatar Name */
    #Friends li .name {
      height: 25px;
      width: 200px;
      color: white;
      margin: 5px 0px 0px 0px;
      float: left;
    }

    /*Avatar Clan Name Online*/
    #Friends li .status {
      height: 25px;
      width: 62px;
      color: green;
      margin: 5px 0px 0px 0px;
      float: left;
      text-align: right;
    }

    /*Avatar Clan Name Offline*/

    #Friends li .status1 {
      height: 25px;
      width: 62px;
      color: red;
      margin: 5px 0px 0px 0px;
      float: left;
      text-align: right;
    }

    /* Clan Container */
    .clancontainer {
      height: 446px;
      width: 320px;
      background-color: black;
      padding-top: 1px;
      color: white;
      text-align: center;
    }

    .clancontainer h1 {
      margin-top: 125px;
      margin-bottom: 25px;
    }

    .clancontainer a {
      color: black;
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px;
      background-color: white;
      text-decoration: none;
    }

/* exit */
.exit {
  height: 19px;
  width: 318px;
  padding-top: 4px;
  background-color: red;
  border: 1px solid grey;
  float: left;
  text-align: center;
  font-size: 15px;
}

.exit a {
  color: white;
  background-color: red;
  text-decoration: none;
}
