* {
  font-family: sans-serif;
}

/* header */
.header {
  height: 100px;
  width: 960px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.header img {
  height: 75px;
  width: 300px;
}

h1 {
  padding-top: 20px;
  color: red;
}

/* nav */
.nav {
  height: 66px;
  width: 960px;
  background-color: black;
  margin: 0 auto 20px auto;
}

.containerbtn {
  height: 66px;
  width: 640px;
  background-color: black;
  margin: 0 auto;
}

.playbtn {
  height: 66px;
  width: 213px;
  float: left;
}

  #playgame {
    height: 44px;
    width: 150px;
    float: left;
    margin-top: 10px;
    margin-right: 1px;
    text-align: center;
    border: 2px solid white;
    color: white;
    font-size: 80%;
    text-align: center;
  }

  #quick {
    float: left;
    height: 44px;
    width: 40px;
    float: left;
    margin-top: 10px;
    border: 2px solid white;
    color: white;
  }

.custombtn {
  height: 66px;
  width: 213px;
  float: left;
  background-color: black;
}

  #at {
    float: left;
    height: 44px;
    width: 40px;
    margin: 10px 20px 0px 60px;
    border: 2px solid white;
    color: white;
    font-size: 80%;
    text-align: center;
  }

  #custom {
    float: left;
    height: 44px;
    width: 40px;
    margin-top: 10px;
    border: 2px solid white;
    color: white;
    font-size: 80%;
    text-align: center;
  }

.tournamentbtn {
  height: 66px;
  width: 214px;
  float: left;
  background-color: black;
}

 #tournament {
   float: left;
   height: 44px;
   width: 40px;
   margin: 10px 0px 0px 40px;
   border: 2px solid white;
   color: white;
   font-size: 80%;
   text-align: center;
 }

 #ladder {
   float: left;
   height: 44px;
   width: 40px;
   margin: 10px 20px 0px 20px;
   border: 2px solid white;
   color: white;
   font-size: 80%;
   text-align: center;
 }

 #profile {
   float: left;
   height: 44px;
   width: 40px;
   margin-top: 10px;
   border: 2px solid white;
   color: white;
   font-size: 80%;
   text-align: center;
 }

/* container */
.container {
  background-color: blue;
  width: 960px;
  height: 400px;
  margin: 0 auto;
}

/* chat */
.chat {
  height: 400px;
  width: 640px;
  background-image: url("images/background.jpg");
  float: left;
}

/* profile */
.profile {
  height: 350px;
  width: 320px;
  background-color: red;
  float: left;
}

/* exit */
.exit {
  height: 50px;
  width: 320px;
  background-color: green;
  float: left;
}
